@use '../../../styles/variables' as v;

label.select {
    width: 100%;
    color: v.$text-color;
    display: flex;
    flex-direction: column;

    select {
        width: 100%;
        background: none;
        font-weight: 400;
        padding: 0.75rem 1rem;
        color: currentColor;
        font-size: v.$font-sm;
        line-height: 16px;
        border: 1px solid $-border-color;
        border-radius: 8px;
        outline: none;


        &:focus {
            outline: none;
        }
    }
}