$white: #ffffff;
$text-color: #545f7d;
$primary-color: #213f7d;
$secondary-color: #39cdcc;


$primary-font: 'Ysabeau Infant', sans-serif;
$secondary-font: 'Manrope', sans-serif;

$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-base: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.375rem;
$font-2xl: 1.5rem;
$font-4xl: 2.5rem;