@use '../../styles/variables' as v;

.dynamic-form {
    width: 75%;
    margin: 2rem auto;

    &__page {
        &--header {
            color: v.$primary-color;
            margin-bottom: 1rem;

            h2 {
                text-transform: uppercase;
            }
        }

        &__section {
            &--header {
                color: v.$primary-color;
                margin-bottom: 1rem;

                h2 {
                    text-decoration: underline;
                }
            }

            &--input {
                margin-bottom: 1.25rem;
            }

            .input__error {
                font-size: v.$font-xs;
                color: #ff0000;
                margin-top: 0.25rem;
            }
        }
    }

    .actions {
        width: 100%;
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;

        @media screen and (min-width: 768px) {
            flex-direction: row-reverse;
        }

        &-btn {
            margin-top: 1rem;

            @media screen and (min-width: 768px) {
                max-width: 10rem;
            }
        }
    }
}